$colaborator: #5EA353;
$coadmin: #FC8CA0;
$bg: #F7F7F7;
$bg-footer: #3F3F3F;
$bg-intro: #ECECEC;
$bg-news: $bg;
$bg-news-cell: $bg;
$bghover: #2FA4C9;
$footer-font-color: #EEE;
$bgoverlay: rgba(69, 69, 69, 0.15);
$fontclear: #FFF;
$fontgrey: rgba(0, 0, 0, 0.5);
