{
    "env" : {
        "browser": true
    },
    "rules": {
        "prefer-const": "off",
        "indent": ["error", 4],
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": true,
            "optionalDependencies": false,
            "peerDependencies": false,
            "bundledDependencies": false,
        }],
        "space-before-blocks": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/prop-types": "off",
    },
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceTyeps": "module",
        "ecmaFeatures": {
            "jsx": true
        },
    },
    "settings" : {
        "import/resolver" : {
            "node" : {},
            "webpack" : {
                "env": {
                    "development": true
                }
            }
        }
    },
    "extends" : ["airbnb"]
}
