@import 'settings';
@import 'foundation';
@import 'webconfig';

.intro {
    &__participate {
        @include xy-cell(100%);
        color: $color-isabelline;
        padding: 20px;
        text-align: center;
        text-shadow: 2px 2px 5px $color-jet;
    }

    &__cell {
        @include xy-grid;
        @include flex-align($x: center);
        @include xy-cell(100%);
        margin-top: rem-calc(20px);

        @include breakpoint(1024px) {
            @include xy-cell(1 of 2);
        }
    }
}

.logo {
    max-width: 280px;
    width: 100%;
}

.intro-container {
    @include xy-grid;
    @include xy-gutters(
        $gutter-position: top bottom,
        $gutter-type: padding
    );
    @include xy-grid-container;
    @include flex-align($y: middle);
}
