@import 'settings';
@import 'foundation';
@import 'webconfig';

.page-header {
    background: linear-gradient(135deg, $color-honolulu-blue, $color-dark-sky-blue);
}

.navbar-container {
    @include xy-grid;
    @include xy-grid-container;
    @include flex-align($x: center);
    @include xy-gutters($gutter-type: padding, $gutter-position: top);
    @include breakpoint(976px) {
        @include flex-align($x: right);
    }
}

.navbar {
    @include xy-cell(
        $size: 100%,
        $gutter-type: none
    );
    @include xy-grid;

    @include breakpoint(736px) {
        @include xy-cell($size: 5 of 6);
    }

    @include breakpoint(976px) {
        @include xy-cell($size: 1 of 2);
    }

    &__button {

        @include button(
            $background: transparent,
            $background-hover: $bghover,
            $color: $color-isabelline
        );

        @include xy-cell($size: auto, $gutters: rem-calc(2px), $gutter-type: margin);
        border-radius: rem-calc(5px);
        font-size: 0.8rem;
        padding: 0.85em 0.3em;
        text-shadow: 2px 2px 5px $color-jet;

        @include breakpoint(480px) {
            @include xy-cell($size: auto, $gutter-type: margin);
        }

        @include breakpoint(405px) {
            font-size: 1rem;
            padding: $button-padding;
        }
    }

    &__button:hover {
        background: $color-isabelline;
        color: $color-jet;
        text-shadow: none;
    }
}
