@import 'settings';
@import 'foundation';
@import 'webconfig';

.services {
    background: $color-jet;
    padding: rem-calc(50px) 0;

    &__container {
        @include xy-grid-container;
        text-align: center;
    }

    &__header {
        color: $color-light-cornflower-blue;
        font-family: Roboto;
    }
}

.service-grid {
    display: grid;
    grid-auto-rows: rem-calc(200px);
    grid-gap: rem-calc(40px);
    grid-template-columns: repeat(1, 1fr);
    padding: rem-calc(50px) 0;

    @include breakpoint(370px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(570px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(750px) {
        grid-template-columns: repeat(4, 1fr);
    }


    &__item {
        background: $color-isabelline;
        box-shadow: 5px 5px 10px #000;
        padding: rem-calc(15px) 0;
        text-align: center;
    }
}

.service-section {
    @include xy-grid($direction: vertical);
    @include flex-align(spaced, middle);
    
    &__icon {
        height: rem-calc(130px);
    }

    &__name {
        font-weight: bold;
    }
}
